body {
	background-color:pink;

}
.position {
	background-color:#F54927;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	padding:50px;
	
}
#SA {
  position: absolute;
  left: 50%;
  top: calc(50% + 120px); /* below the box */
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
}
.container {
  position: relative;
height: 100vh;}